@charset "utf-8";

html, body {
	background-color: #fff7ce;
}

#logo {
	position: relative;
	top: 200px;
	left: 50%;
	margin: 0 0 0 -273.5px;
	width: 547px;
	height: 456px;
}

img {
	transform: scale(1);
	transition: transform .2s;
	width: 80%;
	height: 80%;
}

img:hover {
	transform: scale(1.1);
	transition: transform .2s;
}